<!DOCTYPE html>
<html>
<head>
  <meta charset="{{ meta.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="{{ meta.description }}">
  <title>{{ meta.title }}{% if title %} - {{ title }}{% endif %}</title>
  <meta property="og:title" content="{{ meta.title }}{% if title %} - {{ title }}{% endif %}">
  <meta property="og:description" content="{{ meta.description }}">
  <meta property="og:url" content="{{ meta.url }}{% if slug %}/{{ slug }}{% endif %}">
  <link type="image/x-icon" rel="shortcut icon" href="{{ meta.favicon }}">
  <link type="image/x-icon" rel="icon" href="{{ meta.favicon }}">
  <link type="text/css" rel="stylesheet" href="{{ meta.styles }}?v={{ meta.version }}">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">{{ meta.title }}</a></h1>
    </header>

    <main>
      {% if title %}<h2>{{ title }}</h2>{% endif %}
      {% if date %}<p>{{ date }}</p>{% endif %}

      {{ content | safe }}
    </main>

    <footer>
      {% for item in footer %}
        <a href="{{ item.link }}">{{ item.text }}</a>
      {% endfor %}
    </footer>
  </div>

  <script type="text/javascript" src="{{ meta.scripts }}?v={{ meta.version }}"></script>
</body>
</html>
